<h3>Recent activity</h3>
        <hr>
        {% for message in roomMessages  %}
            <div>
                <small>
                    <a href="{% url 'user-profile' message.user.id %}" class="roomListRoom__author">
                    @{{message.user}}</a> {{message.created|timesince}} ago 
                </small>
                <small>replied to post “{{message.room}}”</small>
                <p>{{message}}</p>
                {% if request.user == message.user %}
                    <a href="{% url 'delete-message' message.id %}">Delete</a>
                {% endif %}
                <hr>
            </div>
            
        {% endfor %}